body{
  margin: 0 auto;
  padding-bottom: 50px;
}

header {
  height: 40vh;
  background-image: url('img/hogwarts.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  color: white;
  font-size: 6em;
  font-weight: 100;
  text-shadow: 2px 2px 10px rgba(0,0,0,.5);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1480px;
  margin: 0 auto;
}

main > section, main > div {
  font-family: Arial, Helvetica, sans-serif;
  width: 24%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 2em;
  text-transform: uppercase;
}

h3 {
  margin-bottom: 0px;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 5px;
}